<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXyoJ4838OZuu_0DTM1jE00tb_Ct6ecoE</string>
	<key>GCM_SENDER_ID</key>
	<string>737719838488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caspratique</string>
	<key>PROJECT_ID</key>
	<string>caspratique-6360f</string>
	<key>STORAGE_BUCKET</key>
	<string>caspratique-6360f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737719838488:ios:8b143aa4f186b7804be06d</string>
</dict>
</plist>